#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vue Storefront
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=lmdbjnebhcfpfhekpkalbhhehhllkoaa
Icon=chrome-lmdbjnebhcfpfhekpkalbhhehhllkoaa-Default
StartupWMClass=crx_lmdbjnebhcfpfhekpkalbhhehhllkoaa
